<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="Info"
	  internalLogFile="c:\temp\nlog-internal.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Mongo"/>
    </extensions>

    <variable name="connectionString" value="mongodb://greenbox:AxwWAWggS0nh32ydjDT7bfaenRyeXErZFRNMQmzlpWIeORZ46D2ZoMgRdfxYpVoqhjUfTxH29aTrlWOc458Rpw==@greenbox.mongo.cosmos.azure.com:10255/?ssl=true&amp;replicaSet=globaldb&amp;retrywrites=false&amp;maxIdleTimeMS=120000&amp;appName=@greenbox@" />
    
    <targets>
        <target xsi:type="Mongo"
            name="mongo"
            databaseName="Fruit"
            collectionName="${gdc:item=collection}"
            connectionString="${connectionString}"
            cappedCollectionSize="26214400">
            <Field name="Date" layout="${event-properties:item=date}" />
            <Field name="Level" layout="${level}" />
            <Field name="Event" layout="${event-properties:item=event}"/>
			<Field name="Message" layout="${message}" />
			<Field name="Exception" layout="${exception}"/>
            <Field name="Controller" layout="${aspnet-mvc-controller}"/>
            <Field name="Action" layout="${aspnet-mvc-action}"/>
        </target>
    </targets>

    <rules>
        <logger name="mongo" levels="Trace,Debug,Info,Warn,Error" writeTo="mongo" />
    </rules>
</nlog>